{% extends "site_base.html" %}
{% load applicationcontent_tags feincms_tags feincms_page_tags %}

{% block content %}
<div class="container">
<div class="row">
{% if feincms_page.auth and request.user.is_anonymous %}
<script type="text/javascript">self.location='{% url account.urls/account_signin %}';</script>
{% else %}

<div class="span3">
<div class="pad">
{% feincms_navigation of feincms_page as sublevel level=2 %}
{% if sublevel %}
  {% for p in sublevel %}
    {% if forloop.first %}<ul>{% endif %}
    <li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
{% else %}
<span>No subpages</span>
{% endif %}
    {% for content in feincms_page.content.sidebar %}
        {{ content.render }}
    {% endfor %}

</div>
</div>

<div class="span6">
  {% for content in feincms_page.content.main %}
        <div class="pad">{{ content.render }}</div>
    {% endfor %}
</div>

<div class="span3">
    {% for content in feincms_page.content.right %}
        <div class="pad">{{ content.render }}</div>
    {% endfor %}
</div>
{% endif %}
</div>
{% endblock content %}
